.login__wrapper {
  display: flex;
  width: 100%;
  min-width: 360px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fcfcfc;
}

.login__input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.login__input::placeholder {
  font-size: 13px;
  color: #abb0b5;
  font-weight: 600;
}

.login__button {
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #b9edf8;
  color: white;
  margin: 10px 0px;
  box-sizing: border-box;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  /* ${props =>
  props.src
    ? `background-image: url(${props.src}); background-size: contain; border: none; background-position: center; background-repeat: no-repeat; background-color: #FFEB02; &:hover {background-color: #FFEB02;}`
    : ""} */
}

.login__button:hover {
  background-color: #39bae8;
}

.login__signup__button {
  font-weight: bold;
  color: black;
  cursor: pointer;
}
