/* 네비바 하단 고정 밑 세로 길이 설정 */
.wrapper {
  display: none;
}

nav {
  overflow: hidden;
}

nav > div {
  text-align: center;
  float: left;
  width: 20%;
  height: 65px;
  line-height: 65px;
}

.nav-item {
  color: grey;
}

.active {
  color: #ef5c89;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    background-color: #fff;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 75);
  }
}
