.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 360px;
  margin: auto;
  background-color: #ff9841;
  box-sizing: border-box;
}

.input__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  height: 290px;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  .Wrapper {
    width: 100%;
  }
}
